<h1>A premier travel website</h1>
<p>We will help you find your ultimate destination!</p>
<p>My favorite color is <%= @color %>.</p>
<style>
body {
  background: <%= @color %>;
}
</style>
<%= link_to 'blue', about_path(color: '#9dc6d8' ), class: 'btn btn-default'%>
